*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #0aaac0 */
/* transform: rotate(90deg); */

/* Nuevo css */

.complemento{
    width: 40%;
    height: 300px;
    margin: 20px 0 0 50px;
    border: 1px solid #e0e0e0;
}

.selector{
    width: 40%;
    height: 50px;
    border: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 50px;
    cursor: pointer;
}

.selector__content{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.selector__content .selector__content--text{
    font-family: Arial, Helvetica, sans-serif;
    color: #727272;
}
.selector__content .selector__content--text p{
    font-size: 15px;
}
#selector .selector__content--text p{
    font-size: 13px;
    font-weight: 700;
}
.selector__arrow{
    display: flex;
    align-items: center;
    margin-right: 15px;
    transform: rotate(90deg);
}


#modal .selector__content{
    padding: 5px 0px;
}
#modal .selector__content:hover{
    background-color: #0aaac0;
}
#modal .selector__content .selector__content--text span{
    font-weight: 400;
}

.special-icons{
    width: 40px;
    height: 40px;
    margin: 0 10px;
    fill: #adadad;
}
#modal .selector__content:hover  .special-icons{
    fill: #fff;
}
#modal .selector__content:hover .selector__content--text{
    color: #fff;
}

.modal-selector{
    width: 100%;
    visibility: hidden;
    /* position: fixed; */
    z-index: 1;
    /* height: 100vh; */
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 500px;
}

.modals{
    /* width: 35%; */
    /* height: 100%; */
    border: 1px solid black;
    position: absolute;
    left: 615px;
    transition: transform 2s;
    transform: translateY(0%);
}
.selector-close{
    transform: translateY(-70%);
}


@media screen and (max-width: 1000px){
    .modals{
        left: 450px;
    }
}